In [1]:
# Exercício 1 - Python para iniciantes

### Textos (precisam estar dentro das aspas)

print("Olá mundo!")
print("Didática tech")
print("oi", "tudo bem?")

Olá mundo!
Didática tech
oi tudo bem?

In [2]:
### Operações matemáticas

print(5 + 6)
print(4 - 2)
print(3 ** 4)
print(3 * 7)
print(9 / 5)
print(6 - 3)
print(17 / 3)
print(5 % 2) # Resto da divisão

11
2
81
21
1.8
3
5.666666666666667
1

In [4]:
### Criando variáveis

a = 5
print(a)
a == 3 # Pergunta se a é igual a 5, a resposta é "true" ou "false"
a == 5

5

True

In [7]:
a = 5
b = 7
print(b)
c = a + b
print(c)

7
12

In [1]:
variavel1 = 3
variavel2 = 4
variavel1 = 6 # Variável com nome repetido camufla o primeiro código
print(variavel1)

6

In [4]:
var1 = 4
var2 = 3.5

In [5]:
type(var1)

int

In [6]:
type(var2) # Float é um número preciso, um tipo diferente de inteiro

float

In [ ]:
print(var1 + var2)

In [7]:
palavra = "Frase 1"

In [8]:
type(palavra)

str

In [10]:
print(var2 + palavra) # Retorna uma mensagem de erro

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [2]:
# Função input()

nome = input("Qual o seu nome?") # Precisa de um "enter" após colocar o nome

Qual o seu nome?Jeanne
Jeanne

In [ ]:
print(nome)

In [1]:
idade = input("Qual a sua idade?")

Qual a sua idade?33

In [3]:
print(idade)

33

In [4]:
print(idade * 2) # Não gera uma multiplicação porque o "33" está como string

3333

In [5]:
a = "Oi"
print(a*50)

OiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOiOi

In [6]:
idade = input("Qual sua idade?")

Qual sua idade?33

In [7]:
type(idade)

str

In [8]:
# Para atribuir um outro tipo de variável

idade = int(input("Qual sua idade?"))

Qual sua idade?33

In [9]:
type(idade)

int

In [10]:
print(idade*2)

66

In [12]:
idade = float(input("Digite: "))

Digite: 30

In [13]:
type(idade)

float

In [5]:
fruta = 'laranja'

In [6]:
print("Suco de laranja é o meu favorito.")

Suco de laranja é o meu favorito.

In [7]:
print("Suco de %s é o meu favorito." %fruta) # A %s indica que virá no texto uma variável do tipo string, depois informa qual a variável do tipo string

Suco de laranja é o meu favorito.

In [8]:
print("Suco de {} é o meu favorito." .format(fruta))

Suco de laranja é o meu favorito.

In [9]:
cor1 = 'azul'
cor2 = 'rosa'

In [11]:
print("O céu é {0}, a flor é {1} e meu carro é {0}." .format(cor1, cor2))

O céu é azul, a flor é rosa e meu carro é azul.